.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  margin-top: 3.2rem;
  @include breakpoint-up('medium') {
    margin-top: 6.4rem;
  }

  .main-nav {
    position: relative;
    color: var(--color-dark-blue);

    @include breakpoint-up('medium') {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__brand {
      height: 3.1rem;
      .nav__logo {
        width: 100%;
      }
    }
    &__nav-items {
      display: none;

      @include breakpoint-up('medium') {
        // display: block;
        display: flex;
        gap: 3rem;
        margin-bottom: 0.3rem;
      }
    }
    &__nav-item {
      font-weight: bold;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    &__link {
      color: #fff;
      font-size: 1.2rem;
      text-decoration: none;
      @include breakpoint-up('medium') {
        color: var(--color-grayish-dark-blue);
      }
      &:hover {
        color: var(--color-cyan);
      }
    }
    &__link--active {
      color: var(--color-cyan);
    }
  }
  .mobile-nav__nav-items {
    display: none;
    // .hide {
    //   display: none;
    // }

    @include breakpoint-down('small') {
      display: block;
      position: absolute;
      background-color: var(--color-grayish-dark-blue);
      width: 71.705%;
      max-width: 30rem;
      height: 18.6rem;
      top: 5.6rem;
      right: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 4rem 0;
      z-index: 1;
    }
    @include breakpoint-up('medium') {
      display: none;
    }

    .t-nav-link {
      color: var(--color-white);
      font-size: 1.2rem;
      letter-spacing: 2px;
      line-height: 1.4rem;
      text-transform: uppercase;
      font-weight: var(--weight-semiBold);
      font-family: var(--font-family-sans);
      text-decoration: none;
      transition: var(--transition) color;

      &:hover {
        color: var(--color-cyan);
      }

      &--active {
        color: var(--color-cyan);
      }
    }
  }
}
