.cta {
  // margin: 11.5rem 0 8rem 0;
  text-align: center;

  @include breakpoint-up('medium') {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 9.6rem 0;
  }

  &__heading {
    font-size: 4rem;
    line-height: 4.2rem;
    letter-spacing: -0.36px;
    font-weight: var(--weight-bold);
    font-family: var(--font-family-serif);
    @include breakpoint-up('large') {
      min-width: 35rem;
      max-width: 35rem;
    }
  }

  &__button {
    min-width: 17rem;
    margin-top: 4rem;

    @include breakpoint-up('medium') {
      margin-top: 0;
    }
  }

  &__line {
    display: none;

    @include breakpoint-up('medium') {
      display: block;
      height: 1px;
      width: 100%;
      background-color: var(--color-grayish-dark-blue);
      opacity: 0.15;
      margin: 0 3.2rem;
    }

    @include breakpoint-up('large') {
      margin: 1.2rem 3.2rem 0;
    }
  }
}
