.main--contact {
  margin-top: 4rem;
  // background-color: var(--color-very-light-gray);
  @include breakpoint-up('sm') {
    margin-top: 4.7rem;
    padding-top: 10rem;
    // padding: 56px 0 23px 0;
  }
  @include breakpoint-up('large') {
    margin: 5.4rem;
  }

  .get-in-touch {
    border-top: 1px solid var(--color-border-gray);
    border-bottom: 1px solid var(--color-border-gray);
    display: flex;
    flex-direction: column;
    padding: 2.4rem 0 3.2rem;

    @include breakpoint-up('medium') {
      padding: 3.2rem 0;
    }

    @include breakpoint-up('large') {
      padding: 4.8rem 0;
      flex-direction: row;
      justify-content: space-between;
    }

    &__body {
      margin-top: 2.4rem;

      @include breakpoint-up('large') {
        max-width: 63.5rem;
        margin-top: 0;
      }
    }
    &__body-text {
      font-size: 1.6rem;
      line-height: 3rem;
      letter-spacing: 0;
      font-weight: var(--weight-regular);
      font-family: var(--font-family-sans);
      opacity: 0.8;
    }
    .page-socials {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 10.4rem;
      margin-top: 2.4rem;

      &__social-list {
        &__social:hover {
          fill: var(--color-cyan);
          box-shadow: 0 0 3.5rem var(--color-cyan);
        }
        &__icon path {
          fill: var(--color-grayish-dark-blue);
          transition: var(--transition) fill, var(--transition) box-shadow;
        }
      }
    }
  }

  .contact {
    margin-top: 3.2rem;
    margin-bottom: 8rem;

    @include breakpoint-up('medium') {
      margin-bottom: 9.6rem;
    }

    @include breakpoint-up('large') {
      margin-top: 4.7rem;
      margin-bottom: 10.9rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__title {
      font-size: 4rem;
      line-height: 4.2rem;
      letter-spacing: -0.36px;
      font-weight: var(--weight-bold);
      font-family: var(--font-family-serif);
    }

    .contact-form {
      margin-top: 2.4rem;

      @include breakpoint-up('medium') {
        margin-top: 3.2rem;
      }

      @include breakpoint-up('large') {
        margin-top: 0;
        width: 63.5rem;
        max-width: 63.5rem;
      }

      &__input-group {
        margin-bottom: 2.4rem;

        .form-label {
          font-size: 1.3rem;
          line-height: 3rem;
          font-weight: var(--weight-bold);
          font-family: var(--font-family-sans);
          margin-bottom: 0.8rem;
          opacity: 0.8;
        }
      }

      &__input-field {
        background-color: var(--color-form-input-bg);
        height: 4.8rem;
        width: 100%;
        padding: 0.9rem 1.6rem;
        color: var(--color-grayish-dark-blue);
        font-size: 1.3rem;
        line-height: 3rem;
        font-family: var(--font-family-sans);
        font-weight: var(--weight-regular);
        outline: none;
        border: 1px solid transparent;
        transition: var(--transition) border-color;

        &::placeholder {
          color: var(--color-form-input-place-holder);
        }

        &--textarea {
          height: 9.6rem;
        }
        .error {
          border-color: var(--color-red);
        }
        &:focus {
          border-color: var(--color-cyan);
        }
      }

      p.error {
        font-size: 1rem;
        line-height: 1.1rem;
        color: var(--color-red);
        font-family: var(--font-family-sans);
        font-weight: var(--weight-bold);
        font-style: italic;
        margin-top: 0.4rem;
        position: absolute;
        z-index: -1;
        height: 0;
        transform: translateY(0);
        opacity: 1;
        transition: var(--transition) transform, var(--transition) opacity;
      }
      p.error.hide {
        height: 0;
        opacity: 0;
        transform: translateY(-2rem);
      }
    }
  }
}
