// .main--contact {
//   margin-top: 4rem;
//   // background-color: var(--color-very-light-gray);
//   @include breakpoint-up('sm') {
//     margin-top: 4.7rem;
//     padding-top: 10rem;
//     // padding: 56px 0 23px 0;
//   }
//   @include breakpoint-up('large') {
//     margin: 5.4rem;
//   }
// }

// .get-in-touch {
//   border-top: 1px solid var(--color-border-gray);
//   border-bottom: 1px solid var(--color-border-gray);
//   display: flex;
//   flex-direction: column;
//   padding: 2.4rem 0 3.2rem;

//   @include breakpoint-up('medium') {
//     padding: 3.2rem 0;
//   }

//   @include breakpoint-up('large') {
//     padding: 4.8rem 0;
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   .t-h2 {
//     font-size: 4rem;
//     line-height: 4.2rem;
//     letter-spacing: -0.36px;
//     font-weight: var(--weight-bold);
//     font-family: var(--font-family-serif);
//     color: red;
//   }

//   &__body {
//     margin-top: 2.4rem;

//     @include breakpoint-up('large') {
//       max-width: 63.5rem;
//       margin-top: 0;
//     }
//   }
//   .t-body1 {
//     font-size: 1.6rem;
//     line-height: 3rem;
//     letter-spacing: 0;
//     font-weight: var(--weight-regular);
//     font-family: var(--font-family-sans);
//   }
// }

// .t-opacity8 {
//   opacity: 0.8;
// }

.get-in-touch {
  border-top: 1px solid var(--color-border-gray);
  border-bottom: 1px solid var(--color-border-gray);
  display: flex;
  flex-direction: column;
  padding: 2.4rem 0 3.2rem;
}

.get-in-touch {
  border-top: 1px solid var(--color-border-gray);
  border-bottom: 1px solid var(--color-border-gray);
  display: flex;
  flex-direction: column;
  padding: 2.4rem 0 3.2rem;
}

@media (min-width: 768px) {
  .get-in-touch {
    padding: 3.2rem 0;
  }
}

@media (min-width: 1024px) {
  .get-in-touch {
    padding: 4.8rem 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.get-in-touch .get-in-touch__body {
  margin-top: 2.4rem;
}

@media (min-width: 1024px) {
  .get-in-touch .get-in-touch__body {
    max-width: 63.5rem;
    margin-top: 0;
  }
}

.t-h2 {
  font-size: 4rem;
  line-height: 4.2rem;
  letter-spacing: -0.36px;
  font-weight: var(--weight-bold);
  font-family: var(--font-family-serif);
}

.t-body1 {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0;
  font-weight: var(--weight-regular);
  font-family: var(--font-family-sans);
}

@media (max-width: 1023px) {
  .t-body1--project-intro {
    font-size: 1.5rem;
  }
}

.page-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10.4rem;
  margin-top: 2.4rem;
}

.page-socials__social__icon path {
  fill: var(--color-grayish-dark-blue);
  transition: var(--transition) fill, var(--transition) box-shadow;
}

.page-socials__social:hover .page-socials__social__icon path {
  fill: var(--color-cyan);
  box-shadow: 0 0 3.5rem var(--color-cyan);
}

.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

.contact {
  margin-top: 3.2rem;
  margin-bottom: 8rem;
}

@media (min-width: 768px) {
  .contact {
    margin-bottom: 9.6rem;
  }
}

@media (min-width: 1024px) {
  .contact {
    margin-top: 4.7rem;
    margin-bottom: 10.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact .contact-form {
  margin-top: 2.4rem;
}

@media (min-width: 768px) {
  .contact .contact-form {
    margin-top: 3.2rem;
  }
}

@media (min-width: 1024px) {
  .contact .contact-form {
    margin-top: 0;
    width: 63.5rem;
    max-width: 63.5rem;
  }
}

.contact .contact-form__input-group {
  margin-bottom: 2.4rem;
}

.contact .contact-form__input-group .form-label {
  margin-bottom: 0.8rem;
}

.contact .contact-form__input-field {
  background-color: var(--color-form-input-bg);
  height: 4.8rem;
  width: 100%;
  padding: 0.9rem 1.6rem;
  color: var(--color-grayish-dark-blue);
  font-size: 1.3rem;
  line-height: 3rem;
  font-family: var(--font-family-sans);
  font-weight: var(--weight-regular);
  outline: none;
  border: 1px solid transparent;
  transition: var(--transition) border-color;
}

.contact .contact-form__input-field::-webkit-input-placeholder {
  color: var(--color-form-input-place-holder);
}

.contact .contact-form__input-field:-ms-input-placeholder {
  color: var(--color-form-input-place-holder);
}

.contact .contact-form__input-field::-ms-input-placeholder {
  color: var(--color-form-input-place-holder);
}

.contact .contact-form__input-field::placeholder {
  color: var(--color-form-input-place-holder);
}

.contact .contact-form__input-field--textarea {
  height: 9.6rem;
}

.contact .contact-form__input-field.error {
  border-color: var(--color-red);
}

.contact .contact-form__input-field:focus {
  border-color: var(--color-cyan);
}

p.error {
  font-size: 1rem;
  line-height: 1.1rem;
  color: var(--color-red);
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  font-style: italic;
  margin-top: 0.4rem;
  position: absolute;
  z-index: -1;
  height: 0;
  transform: translateY(0);
  opacity: 1;
  transition: var(--transition) transform, var(--transition) opacity;
}

p.error.hide {
  height: 0;
  opacity: 0;
  transform: translateY(-2rem);
}
