@import url(reset.css);
:root {
  /* C */
  --color-cyan: #5fb4a2;
  --color-red: #f43030;
  --color-dark-blue: #203a4c;
  --color-grayish-dark-blue: #33323d;
  --color-very-light-gray: #fafafa;
  --color-light-gray: #eaeaeb;
  --color-white: #ffffff;
  --color-border-gray: #dcdcde;
  --color-form-input-bg: #e5e5e6;
  --color-form-input-place-holder: #9d9da3;
  --font-family-sans: 'Public Sans', sans-serif;
  --font-family-serif: 'Ibarra Real Nova', serif;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --space-max-width: 111rem;
  --transition: 300ms ease-in-out; }

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/*
  ========================================
  Custom Styles
  ========================================
*/
html {
  /* font-size: 10px; */
  /* in percentage 10px / 16px x 100 = 62.5%*/
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  color: var(--color-grayish-dark-blue);
  background-color: var(--color-light-gray); }

/*
  ========================================
  Grid
  ========================================
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.transition-fade {
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.4s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.4s ease-out, transform 0.6s ease-out;
  transition: opacity 0.4s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

html.is-animating .transition-fade {
  opacity: 0;
  -webkit-transform: translateY(5%);
  transform: translateY(5%); }

html.is-leaving .transition-fade {
  opacity: 0; }

.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0; }

.btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none; }
  .btn .btn--primary {
    text-transform: uppercase;
    height: 20rem;
    height: 4.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 20rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 1.4rem;
    font-weight: var(--weight-semiBold); }

.btn--primary__icon {
  background-color: #1c3444;
  width: 4.8rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--transition) background-color;
  transition: var(--transition) background-color; }

.btn--primary__icon svg {
  -webkit-transition: var(--transition) filter;
  transition: var(--transition) filter; }

.btn--primary__content {
  width: 15.2rem;
  background-color: #203a4c;
  color: var(--color-white);
  height: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: var(--transition) background-color;
  transition: var(--transition) background-color; }

.btn--primary:hover .btn--primary__icon {
  background-color: #55a191; }

.btn--primary:hover .btn--primary__icon svg {
  -webkit-filter: brightness(1.5) saturate(0);
  filter: brightness(1.5) saturate(0); }

.btn--primary:hover .btn--primary__content {
  background-color: var(--color-cyan); }

.btn--secondary {
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 1.4rem;
  padding: 1.6rem 3.2rem;
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
  color: var(--color-grayish-dark-blue);
  border: 1px solid var(--color-grayish-dark-blue);
  -webkit-transition: var(--transition) background-color, var(--transition) color;
  transition: var(--transition) background-color, var(--transition) color; }

.btn--secondary:hover {
  background-color: var(--color-grayish-dark-blue);
  color: var(--color-white); }

.btn--submit {
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 1.4rem;
  font-weight: var(--weight-semiBold);
  background-color: #203a4c;
  color: var(--color-white);
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  padding: 1.6rem 3.866rem;
  -webkit-transition: var(--transition) background-color, var(--transition) border-color, var(--transition) transform;
  transition: var(--transition) background-color, var(--transition) border-color, var(--transition) transform; }

.btn--submit:hover {
  color: #203a4c;
  background-color: transparent;
  border-color: #203a4c;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px); }

.form__group {
  margin: 24px 0; }
  .form__group .form__control {
    display: block;
    margin-top: 8px;
    border: 1px solid var(--clr-light-gray);
    padding: 16px 9px;
    width: 100%;
    background-color: var(--clr-light-gray);
    color: rgba(51, 50, 61, 0.4);
    outline: none; }
    .form__group .form__control:focus {
      border: 2px solid var(--clr-cyan);
      color: var(--clr-dark-blue); }
    .form__group .form__control:valid {
      color: var(--clr-dark-blue); }
  .form__group textarea {
    font-family: var(--ff-public-sans); }
  .form__group .form__active {
    border: 2px solid var(--clr-cyan);
    color: var(--clr-dark-blue); }
  .form__group .form__error {
    border: 2px solid var(--clr-bright-red); }

.container {
  padding: 0 3.2rem; }
  @media (min-width: 48em) {
    .container {
      padding: 0 4rem; } }
  @media (min-width: 71.875em) {
    .container {
      max-width: var(--space-max-width);
      margin: 0 auto;
      padding: 0; } }

.footer {
  background-color: var(--color-grayish-dark-blue); }
  .footer__container {
    display: flex;
    padding: 5.6rem 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 48em) {
      .footer__container {
        flex-direction: row;
        justify-content: flex-start;
        padding: 2.4rem 4rem; } }
    @media (min-width: 71.875em) {
      .footer__container {
        padding: 2.4rem 0;
        max-width: var(--space-max-width);
        margin: 0 auto; } }
  .footer__nav-items {
    margin: 3.2rem 0 4rem 0; }
    @media (min-width: 48em) {
      .footer__nav-items {
        display: inline-flex;
        margin-left: 4.8rem;
        margin-bottom: 0.7rem; } }
    .footer__nav-items__nav-item {
      color: var(--color-white);
      text-transform: uppercase; }
      .footer__nav-items__nav-item:nth-child(2) {
        margin: 2.7rem 0; }
        @media (min-width: 48em) {
          .footer__nav-items__nav-item:nth-child(2) {
            margin: 0 4rem; } }
    .footer__nav-items .nav-link {
      font-size: 1.2rem;
      color: var(--color-white);
      letter-spacing: 2px;
      line-height: 1.4rem;
      text-transform: uppercase;
      font-weight: var(--weight-semiBold);
      font-family: var(--font-family-sans);
      text-decoration: none;
      transition: var(--transition) color; }
      .footer__nav-items .nav-link:hover {
        color: var(--color-cyan); }
  .footer__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 10.4rem; }
    @media (min-width: 48em) {
      .footer__socials {
        margin-left: auto; } }
    .footer__socials__icon path {
      fill: var(--color-white);
      transition: var(--transition) fill, var(--transition) box-shadow; }
      .footer__socials__icon path:hover {
        fill: #76e2cb;
        box-shadow: 0 0 3.5rem #76e2cb; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  margin-top: 3.2rem; }
  @media (min-width: 48em) {
    .header {
      margin-top: 6.4rem; } }
  .header .main-nav {
    position: relative;
    color: var(--color-dark-blue); }
    @media (min-width: 48em) {
      .header .main-nav {
        display: flex;
        justify-content: space-between; } }
    .header .main-nav__logo {
      display: flex;
      align-items: center;
      justify-content: center; }
    .header .main-nav__brand {
      height: 3.1rem; }
      .header .main-nav__brand .nav__logo {
        width: 100%; }
    .header .main-nav__nav-items {
      display: flex;
      gap: 3rem; }
    .header .main-nav__nav-item {
      font-weight: bold;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .header .main-nav__link {
      color: #fff;
      font-size: 1.2rem;
      text-decoration: none; }
      @media (min-width: 48em) {
        .header .main-nav__link {
          color: var(--color-grayish-dark-blue); } }
      .header .main-nav__link:hover {
        color: var(--color-cyan); }
    .header .main-nav__link--active {
      color: var(--color-cyan); }

/*
  ========================================
  main home Page
  ========================================
*/
.main--home {
  margin-top: 4rem; }
  @media (min-width: 576px) {
    .main--home {
      margin-top: 4.7rem;
      padding-top: 10rem; } }
  @media (min-width: 71.875em) {
    .main--home {
      margin: 5.4rem; } }

/*
  ========================================
  intro section
  ========================================
*/
@media (min-width: 48em) {
  .home-intro {
    position: relative; } }

.home-intro__image {
  height: 27.1rem;
  background-image: url("../../assets/images/homepage/mobile/image-homepage-hero@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 48em) {
    .home-intro__image {
      background-image: url("../../assets/images/homepage/tablet/image-homepage-hero@2x.jpg");
      height: 60rem; } }
  @media (min-width: 48em) {
    .home-intro__image {
      background-image: url("../../assets/images/homepage/desktop/image-homepage-hero@2x.jpg"); } }

.home-intro__content {
  margin-top: 2.5rem; }
  @media (min-width: 576px) {
    .home-intro__content {
      margin-top: 0;
      position: absolute;
      bottom: 0;
      background-color: var(--color-light-gray);
      width: 74.709%;
      max-width: 51.4rem;
      padding-top: 2.8rem;
      padding-right: 2.8rem; } }
  @media (min-width: 48em) {
    .home-intro__content {
      padding-top: 5.6rem;
      padding-right: 5.6rem; } }
  @media (min-width: 71.875em) {
    .home-intro__content {
      max-width: 44.5rem; } }
  .home-intro__content .t-h1 {
    font-weight: var(--weight-bold);
    font-family: var(--font-family-serif); }
    @media (max-width: 71.8125em) {
      .home-intro__content .t-h1 {
        font-size: 4rem;
        line-height: 4.2rem;
        letter-spacing: -0.36px; } }
    @media (min-width: 71.875em) {
      .home-intro__content .t-h1 {
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: -0.45px; } }

.home-intro__button {
  margin-top: 3.2rem; }
  @media (min-width: 48em) {
    .home-intro__button {
      margin-top: 4.8rem; } }
  @media (min-width: 71.875em) {
    .home-intro__button {
      margin-top: 5.3rem; } }

/*
  ========================================
  About section
  ========================================
*/
.home-about {
  margin-top: 9.6rem; }
  @media (min-width: 48em) {
    .home-about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch; } }
  @media (min-width: 71.875em) {
    .home-about {
      justify-content: flex-start;
      margin-top: 15rem; } }
  .home-about__img {
    background-size: cover;
    background-position: center;
    height: 34.6rem;
    margin-bottom: 3.2rem; }
    @media (min-width: 48em) {
      .home-about__img {
        height: 60rem;
        width: 40.784%; } }
    @media (min-width: 71.875em) {
      .home-about__img {
        width: 54rem;
        max-width: 54rem; } }
  .home-about__content {
    border-top: 1px solid var(--color-border-gray);
    border-bottom: 1px solid var(--color-border-gray);
    padding: 3.2rem 0 5.1rem 0; }
    @media (min-width: 71.875em) {
      .home-about__content {
        width: 34.65rem;
        max-width: 35rem;
        margin-left: 12.5rem; } }
    .home-about__content__heading {
      font-size: 4rem;
      line-height: 4.2rem;
      letter-spacing: -0.36px;
      font-weight: var(--weight-bold);
      font-family: var(--font-family-serif);
      margin-bottom: 2.8rem; }
      @media (min-width: 48em) {
        .home-about__content__heading {
          margin-top: 5rem; } }
  .home-about__description {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0;
    font-weight: var(--weight-regular);
    font-family: var(--font-family-sans);
    opacity: 0.8; }

/*
  ========================================
  Contact Section
  ========================================
*/
.cta {
  text-align: center; }
  @media (min-width: 48em) {
    .cta {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 9.6rem 0; } }
  .cta__heading {
    font-size: 4rem;
    line-height: 4.2rem;
    letter-spacing: -0.36px;
    font-weight: var(--weight-bold);
    font-family: var(--font-family-serif); }
    @media (min-width: 71.875em) {
      .cta__heading {
        min-width: 35rem;
        max-width: 35rem; } }
  .cta__button {
    min-width: 17rem;
    margin-top: 4rem; }
    @media (min-width: 48em) {
      .cta__button {
        margin-top: 0; } }
  .cta__line {
    display: none; }
    @media (min-width: 48em) {
      .cta__line {
        display: block;
        height: 1px;
        width: 100%;
        background-color: var(--color-grayish-dark-blue);
        opacity: 0.15;
        margin: 0 3.2rem; } }
    @media (min-width: 71.875em) {
      .cta__line {
        margin: 1.2rem 3.2rem 0; } }

.main--contact {
  margin-top: 4rem; }
  @media (min-width: 576px) {
    .main--contact {
      margin-top: 4.7rem;
      padding-top: 10rem; } }
  @media (min-width: 71.875em) {
    .main--contact {
      margin: 5.4rem; } }
  .main--contact .get-in-touch {
    border-top: 1px solid var(--color-border-gray);
    border-bottom: 1px solid var(--color-border-gray);
    display: flex;
    flex-direction: column;
    padding: 2.4rem 0 3.2rem; }
    @media (min-width: 48em) {
      .main--contact .get-in-touch {
        padding: 3.2rem 0; } }
    @media (min-width: 71.875em) {
      .main--contact .get-in-touch {
        padding: 4.8rem 0;
        flex-direction: row;
        justify-content: space-between; } }
    .main--contact .get-in-touch__body {
      margin-top: 2.4rem; }
      @media (min-width: 71.875em) {
        .main--contact .get-in-touch__body {
          max-width: 63.5rem;
          margin-top: 0; } }
    .main--contact .get-in-touch__body-text {
      font-size: 1.6rem;
      line-height: 3rem;
      letter-spacing: 0;
      font-weight: var(--weight-regular);
      font-family: var(--font-family-sans);
      opacity: 0.8; }
    .main--contact .get-in-touch .page-socials {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 10.4rem;
      margin-top: 2.4rem; }
      .main--contact .get-in-touch .page-socials__social-list__social:hover {
        fill: var(--color-cyan);
        box-shadow: 0 0 3.5rem var(--color-cyan); }
      .main--contact .get-in-touch .page-socials__social-list__icon path {
        fill: var(--color-grayish-dark-blue);
        transition: var(--transition) fill, var(--transition) box-shadow; }
  .main--contact .contact {
    margin-top: 3.2rem;
    margin-bottom: 8rem; }
    @media (min-width: 48em) {
      .main--contact .contact {
        margin-bottom: 9.6rem; } }
    @media (min-width: 71.875em) {
      .main--contact .contact {
        margin-top: 4.7rem;
        margin-bottom: 10.9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between; } }
    .main--contact .contact__title {
      font-size: 4rem;
      line-height: 4.2rem;
      letter-spacing: -0.36px;
      font-weight: var(--weight-bold);
      font-family: var(--font-family-serif); }
    .main--contact .contact .contact-form {
      margin-top: 2.4rem; }
      @media (min-width: 48em) {
        .main--contact .contact .contact-form {
          margin-top: 3.2rem; } }
      @media (min-width: 71.875em) {
        .main--contact .contact .contact-form {
          margin-top: 0;
          width: 63.5rem;
          max-width: 63.5rem; } }
      .main--contact .contact .contact-form__input-group {
        margin-bottom: 2.4rem; }
        .main--contact .contact .contact-form__input-group .form-label {
          font-size: 1.3rem;
          line-height: 3rem;
          font-weight: var(--weight-bold);
          font-family: var(--font-family-sans);
          margin-bottom: 0.8rem;
          opacity: 0.8; }
      .main--contact .contact .contact-form__input-field {
        background-color: var(--color-form-input-bg);
        height: 4.8rem;
        width: 100%;
        padding: 0.9rem 1.6rem;
        color: var(--color-grayish-dark-blue);
        font-size: 1.3rem;
        line-height: 3rem;
        font-family: var(--font-family-sans);
        font-weight: var(--weight-regular);
        outline: none;
        border: 1px solid transparent;
        transition: var(--transition) border-color; }
        .main--contact .contact .contact-form__input-field::placeholder {
          color: var(--color-form-input-place-holder); }
        .main--contact .contact .contact-form__input-field--textarea {
          height: 9.6rem; }
        .main--contact .contact .contact-form__input-field .error {
          border-color: var(--color-red); }
        .main--contact .contact .contact-form__input-field:focus {
          border-color: var(--color-cyan); }
      .main--contact .contact .contact-form p.error {
        font-size: 1rem;
        line-height: 1.1rem;
        color: var(--color-red);
        font-family: var(--font-family-sans);
        font-weight: var(--weight-bold);
        font-style: italic;
        margin-top: 0.4rem;
        position: absolute;
        z-index: -1;
        height: 0;
        transform: translateY(0);
        opacity: 1;
        transition: var(--transition) transform, var(--transition) opacity; }
      .main--contact .contact .contact-form p.error.hide {
        height: 0;
        opacity: 0;
        transform: translateY(-2rem); }
